<div class="introdiv md-whiteframe-6dp" flex layout="row" layout-sm="column" layout-xs="column" style="background-image: url('src/img/footer-bg.png');">
               <div layout="column" layout-align="center center" flex class="md-padding">
                  <img  ng-src="src/img/logo.png" style="width: 30%;" />
                  <span style="color: white; font-weight: 100;" class="md-display-2">vPad 4</span>
                  <span style="color: white;" class="md-subtitle">by: <a href="http://vectorgray.com.br"> vCorp</a></span>
               </div>
               <div layout="column" layout-align="center center" flex>
               </div>
               <div layout="column" layout-align="center center" flex>
                  <md-card style="width: 90%">
                     <md-card-title >
                        <md-card-title-text>
                           <span class="md-headline" style="font-weight: 300;">Gostou? </span><span class="md-subhead">Cadsatre-se e conheça o painel de atendimento online, é grátis e sempre será.</span>
                        </md-card-title-text>
                     </md-card-title>
                     <md-button ng-click="btnregistro()" class="md-raised md-primary">Criar nova conta</md-button>
                  </md-card>
                  <md-card  layout="row" layout-align="center center" fle style="width: 90%"x>
                     <md-button class="md-icon-button" aria-label="Settings" href="http://facebook.com/vgsti" target="_blank">
                        <md-icon md-svg-icon="facebook"></md-icon>
                     </md-button>
                     <md-button class="md-icon-button" aria-label="Settings" href="https://plus.google.com/+VectorgrayBrvpad" target="_blank">
                        <md-icon md-svg-icon="google-plus"></md-icon>
                     </md-button>
                     <md-button class="md-icon-button" aria-label="Settings" href="https://twitter.com/vectorgray" target="_blank">
                        <md-icon md-svg-icon="twitter"></md-icon>
                     </md-button>
                  </md-card>
               </div>
            </div>