<div layout="column" flex class='animate-hide'  ng-hide="panel">
   <md-toolbar class="md-table-toolbar md-default md-tall" >
      <div class="md-toolbar-tools">
         <h2 class="md-title">{{text.products.title}} </h2>
         <div flex></div>
         <md-button class="md-raised md-primary" aria-label="Settings" ng-click="popupAdicionar()">
            <md-tooltip md-direction="top">{{text.products.add}}</md-tooltip>
            <md-icon md-svg-icon="plus"></md-icon>
            <span style="color:white">{{text.basic.add}}</span>
         </md-button>
      </div>
      <div class="md-toolbar-tools ">
         <md-icon md-svg-icon="account-search" style="fill:#757575"></md-icon>
         <form flex name="filter.form">
            <md-input-container md-no-float style="padding-top:25px">
               <input ng-model="filter.search" class="md-dark" id="sfocus" placeholder="{{text.basic.search}}" flex md-autofocus>
            </md-input-container>
         </form>
         <span flex></span>
         <span ng-show="options.rowSelection && selected.length">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selecionados</span>
      </div>
   </md-toolbar>
   <table md-table md-progress="promise_table" flex>
      <thead fix-head md-head md-order="query.order" md-on-reorder="logOrder">
         <tr md-row>
            <th md-column md-order-by="dados.nome"><span>{{text.products.table.name}}</span></th>
            <th md-column md-order-by="dados.qntd"><span>{{text.products.table.estoque}}</span></th>
            <th hide-xs  hide-sm md-column md-order-by="dados.pricesell"><span>{{text.products.table.pricesell}}</span></th>
            <th md-column md-numeric><span>{{text.basic.options}}</span></th>
         </tr>
      </thead>
      <tbody md-body>
         <tr md-row md-select="dessert" ng-repeat="dessert in desserts | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{dessert.dados.nome}}<br><a href="tel: {{dessert.dados.celular}}">{{dessert.dados.marca}}</a></td>
            <td md-cell class="hid">{{dessert.dados.qntd}}</td>
            <td md-cell hide-sm  hide-xs class="hid">{{dessert.dados.pricesell | currency: 'R$ '}}</td>
            <td md-cell md-numeric class="md-table-td-more">
               <md-menu md-position-mode="target-right target">
                  <md-button aria-label="a" class="md-icon-button" ng-click="$mdOpenMenu($event)" >
                     <md-icon md-svg-icon="more" style="fill:rgb(3,155,229)"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                     <md-menu-item>
                        <md-button ng-click="popupEditar($event, dessert._id)">
                           <md-icon md-svg-icon="pen" style="fill:rgb(3,155,229)"></md-icon>
                           {{text.basic.edit}}
                        </md-button>
                     </md-menu-item>
                     <md-menu-item>
                        <md-button ng-click="popupExcluir($event, dessert._id)">
                           <md-icon md-svg-icon="delete" style="fill:rgb(3,155,229)"></md-icon>
                           {{text.basic.delete}}
                        </md-button>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>
            </td>
         </tr>
      </tbody>
   </table>
   <span flex></span>
   <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.length}}" md-limit-options="[5, 10, 15, 30, 100]" ></md-table-pagination>
</div>
<div id="one" class='animate-hide'  ng-show="panel" ng-init="panel=false">
<md-toolbar class="md-table-toolbar md-default" >
      <div class="md-toolbar-tools">
         <h2 class="md-title">{{text.products.add}} </h2>
        
      </div>
     
   </md-toolbar>
   <form name="prodForm" ng-submit="cadastrar()">
      <div layout-padding layout="row" layout-xs="column">
         <fieldset flex>
            <legend>{{text.products.legends.first}}</legend>
            <md-input-container class="md-block" flex-gt-sm>
               <label>{{text.products.fields.name}}</label>
               <input ng-model="data.dados.nome" name="name" required>
               <div ng-messages="prodForm.name.$error">
                  <div ng-message="required">Informe o nome do produto.</div>
               </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
               <label>{{text.basic.desc}}</label>
               <input ng-model="data.dados.desc" >
            </md-input-container>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.codbarras}}</label>
               <input ng-model="data.dados.codbarras" type="number" >
            </md-input-container>
         </fieldset>
         <fieldset flex>
            <legend>{{text.products.legends.second}}</legend>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.qntd}}</label>
               <input ng-model="data.dados.qntd" name="qntd" type="number" required>
               <div ng-messages="prodForm.qntd.$error">
                  <div ng-message="required">Informe o estoque inicial.</div>
               </div>
            </md-input-container>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.min_qntd}}</label>
               <input ng-model="data.dados.min_qntd" type="number" >
            </md-input-container>
            <md-checkbox ng-model="data_service.validate" >Possui validade?</md-checkbox>
         </fieldset>
      </div>
      <div layout-padding layout="row" layout-xs="column">
         <fieldset flex >
            <legend>{{text.products.legends.seller}}</legend>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.pricesell}}</label>
               <input ng-model="data.dados.pricesell" type="text" name="pricesell" required ui-money-mask="2">
               <div ng-messages="prodForm.pricesell.$error">
                  <div ng-message="required">Informe o valor de venda.</div>
               </div>
            </md-input-container>
         </fieldset>
         <fieldset flex >
            <legend>{{text.products.legends.buyer}}</legend>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.pricebuy}}</label>
               <input ng-model="data.dados.pricebuy" type="text" ui-money-mask="2">
            </md-input-container>
           
         </fieldset>
      </div>
      <div layout-padding layout="row" layout-xs="column">
         <fieldset flex ng-show="data_service.validate">
            <legend>{{text.products.legends.third}}</legend>
            <md-datepicker  flex ng-model="data.dados.validate" md-placeholder="{{text.products.fields.validate}}">{{text.products.fields.validate}}</md-datepicker>
            <md-input-container class="md-block"  flex-gt-sm>
               <label>{{text.products.fields.lote}}</label>
               <input ng-model="data.dados.lote" >
            </md-input-container>
         </fieldset>
      </div>
      <div layout="row" layout-align="center center">
         <md-button class="md-raised" ng-click="panel=false">
            <md-icon md-svg-icon="keyboard-backspace"></md-icon>
            {{text.basic.back}}
         </md-button>
         <span flex></span>
         <md-progress-circular md-mode="indeterminate" ng-show="prodForm.$submitted" md-diameter="20"></md-progress-circular>
         <md-button type="submit" class="md-raised md-primary md-block" ng-disabled="prodForm.$invalid || prodForm.$submitted"> {{text.basic.save}}</md-button>
      </div>
   </form>
</div>